// Header

header {
    @include flex-center(row, center, space-between);
    padding: 30px 0;
  }
  
  .header__wrap {
    @include flex-center(row, center, space-between);
    width: 100%;
  }
  
  .header__logo {
    display: block;
  }
  
  nav.header__navigation {
    @include flex-center(row, center, space-between);
  
    a {
      color: #fff;
      text-decoration: none;
      margin-right: 50px;
      text-transform: lowercase;
      font-size: 19px;
      transition: all .2s ease;
  
      &:hover {
        color: $main-colour;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }