@import 'normalize.css/normalize';

@import 'variables';
@import 'functions';
@import 'mixins';
@import 'a11y';


// Global styles

body {
  font-family: $font-family-montserrat;
  background-color: $bg-colour-main;
  overflow-x: hidden;
}

h1, h2, h3, h4, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  padding: 0 120px;
}

.btn {
  font-size: 24px;
  border: 3px solid $secondary-colour;
  padding: 30px 60px 25px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: $secondary-colour;
    transition: all .2s ease;
  }
}

// Header

header {
  @include flex-center(row, center, space-between);
  padding: 30px 0;
}

.header__wrap {
  @include flex-center(row, center, space-between);
  width: 100%;
}

.header__logo {
  display: block;
}

nav.header__navigation {
  @include flex-center(row, center, space-between);

  a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    text-transform: lowercase;
    font-size: 19px;
    transition: all .2s ease;

    &:hover {
      color: $main-colour;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// Section #1: Hero

#hero {
  margin-bottom: 200px;
}

.hero__textblock {
  background-image: url('../../img/home-banner.webp');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 930px;
  background-position-x: 100%;

  &_text {
    display: block;
    max-width: 700px;

    &_title {
      font-size: 86px;
      line-height: 80px;
      font-weight: 700;
      color: #fff;
      padding: 210px 0 30px;
    }

    &_subtitle {
      font-size: 54px;
      line-height: 71px;
      font-weight: 500;
      color: $main-colour;
      font-family: $font-family-roboto-mono;
      margin: 0 0 90px;
    }
  }
}

// Section #2: Team Members

.team-members-title {
  font-size: 38px;
  line-height: 46px;
  color: #fff;
  margin-bottom: 30px;
  display: block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: $main-colour;
  }
}

.accordion {
  display: flex;
  justify-content: space-between;

  &__headers {
    width: 100%;
    max-width: 30%;
  }

  &__contents {
    width: 100%;
    max-width: 70%;
  }

  &__item {
    border-bottom: 1px solid #ddd;
    
    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    color: #fff;
    font-size: 24px;
    padding: 0 15px 15px 0;
    cursor: pointer;
    
    &:hover {
      color: $secondary-colour;
      transition: all .2s ease;
    }
  }

  &__header--active {
    color: $secondary-colour;
  }

  &__content {
    display: none;
    padding: 10px;
    background-color: transparent;
    justify-content: space-between;

    &_item {
      display: flex;
      // width: 50%;
      align-items: center;
      margin-bottom: 60px;
      min-width: 330px;

      &_left {
        margin-right: 30px;
      }
    }
  }

  &__content--active {
    display: flex;
    flex-wrap: wrap;
  }

  &__featured_image {
    width: 133px;
    height: 133px;
    object-fit: cover;
    object-position: top;
  }

  &__member_name {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }

  &__department {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    margin-bottom: 20px;
  }

  &__links {
    display: flex;

    &_bio {
      position: relative;

      &:after {
        content: "|";
        color: $secondary-colour;
        top: 0;
        right: 0;
        padding: 0 10px;
      }
    }
    &_bio,
    &_resume {
      color: #fff;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: $secondary-colour;
        transition: all .2s ease;
      }
    }
  }
}

// Footer

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {

  .footer__links {
    margin-bottom: 15px;
    

    a {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }

  }

  .footer__link,
  .footer__links a,
  .footer__copyright {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
  }
}

// Responsiveness
@media (max-width: 1199px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }

  nav.header__navigation {
    a {
      margin-right: 20px;
    }
  }

  .hero__textblock {
    min-height: 750px;
  }

  .hero__textblock_text_title {
    padding: 50px 0 30px;
  }
}

@media (max-width: 650px) {
  .header__wrap {
    flex-direction: column;
  }

  #hero {
    margin-bottom: 150px;
  }

  .hero__textblock {
    padding: 0 10px;
    min-height: 350px;
  }

  .hero__textblock_text_title {
    font-size: 46px;
    line-height: 50px;
  }

  .hero__textblock_text_subtitle {
    font-size: 40px;
    line-height: 40px;
  }

  .accordion {
    flex-direction: column;

    &__content_item {
      margin-bottom: 30px;
    }
  }

  .footer__wrap {
    .footer__left {
      padding-right: 10px;

      .footer__copyright {
        white-space: break-spaces;
      }
    }
    .footer__right {
      img {
        max-width: 75px;
      }
    }
  }
  
}