@import 'normalize.css/normalize';

@import 'variables';
@import 'functions';
@import 'mixins';
@import 'a11y';


// Global styles

body {
  font-family: $font-family-montserrat;
  background-color: $bg-colour-main;
}

.container {
  padding: 0 120px;
}

.btn {
  font-size: 24px;
  border: 3px solid $secondary-colour;
  padding: 30px 60px 25px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: $secondary-colour;
    transition: all .2s ease;
  }
}

// Header

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

#header-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#main-logo {
  display: block;
}

nav#header-navigation {
  display: flex;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    text-transform: lowercase;
    font-size: 19px;
    transition: all .2s ease;

    &:hover {
      color: $main-colour;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// Section #1: Hero

#hero {
  margin-bottom: 200px;
}

.hero__textblock {
  background-image: url('../../img/home-banner.webp');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 930px;
  background-position-x: 100%;

  &_text {
    display: block;
    max-width: 700px;

    &_title {
      font-size: 86px;
      line-height: 80px;
      font-weight: 700;
      color: #fff;
      padding: 210px 0 30px;
    }

    &_subtitle {
      font-size: 54px;
      line-height: 71px;
      font-weight: 500;
      color: $main-colour;
      font-family: $font-family-roboto-mono;
      margin-bottom: 90px;
    }
  }
}


// Footer

#footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {

  .footer-labels {
    margin-bottom: 15px;

    span {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-labels,
  .copyright {
    color: rgba(255, 255, 255, 0.75);
  }
}