<footer>
  <div class="footer__wrap container">
    <div class="footer__left scroll-in-left-element">
      <div class="footer__links">
        <a href="#li" target="_blank" class="footer__link">li</span>
        <a href="#tw" target="_blank" class="footer__link">tw</span>
      </div>
      <span class="footer__copyright">© 2025 Marvel & Snap. All rights reserved.</span>
    </div>
    <div class="footer__right scroll-in-right-element">
      <img src="{{ theme.link }}/img/M&S-SquareLogo.svg" alt="Footer logo">
    </div>
  </div>
</footer>
