<footer>
  {# {{ _e('Footer') }} #}
  <div id="footer-wrap" class="container">
    <div class="footer-left">
      <div class="footer-labels">
        <span>li</span>
        <span>tw</span>
      </div>
      <span class="copyright">©2024 Marvel & Snap. All rights reserved.</span>
    </div>
    <div class="footer-right">
      <img src="{{ theme.link }}/img/M&S-SquareLogo.svg" alt="Footer logo">
    </div>
  </div>
</footer>
